# This is the .dockerignore file for the Noetik project.
# It specifies files and directories to ignore when building the Docker image.

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
*.egg-info/
*.egg
.DS_Store
.git/
.gitignore
.idea/
.vscode/
*.iml
*.swp
*.swo
*.tmp
*.bak
*.orig
*.zip
*.tar
*.gz
*.tgz
*.rar
*.7z
node_modules/
dist/
build/
*.egg-info/
*.egg
*.whl
__pycache__/
*.py[cod]